.container {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.paragraphContainer {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.paragraph {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.statsAndInterestsContainer {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}

.interestsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.statsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skillsContainer {
  width: 100%;
  display: flex;
  gap: 32px;
}

.languagesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.librariesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.circlesContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 188px;
}