@import url("https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:400,500,600,700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a:link{
  text-decoration: none!important;
  cursor: pointer;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  line-height: normal;
  margin: 0;
}

.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.2px;
  margin: 0;
  text-transform: uppercase;
}
