.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.subtitle {
  width: calc(71% + 24px);
}

.form {
  width: 71%;
  border-radius: 4px;
  background: #e5e5e5;
  padding: 4px 12px 4px 12px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.largeForm {
  height: 150px;
}

.submit {
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  background: #454545;
  color: #e5e5e5;
}

.submit:hover {
  background: #000;
}

.button {
  all: unset;
  cursor: pointer;
}

.button:focus .submit {
  background: #000;
}

.input {
  all: unset;
  width: 100%;
  word-break: break-all;
  height: 100%;
  cursor: pointer;
}
