.container {
    display: flex;
    background: #F5F5F5;
    height: calc(100% - 112px);
    box-sizing: border-box;
    position: fixed;
    width: calc(100% - 64px);
}

.image {
    height: 100%;
    width: auto;
}