.iconContainer {
  display: flex;
}

.initial {
  flex-direction: column;
  gap: 32px;
  padding-left: 32px;
  margin-top: auto;
  margin-bottom: auto;
}

.final {
  gap: 8px;
  position: fixed;
  bottom: 18px;
  right: 32px;
}
